{% for item in string.users %}
	{% if not app.visitor.user_id is same as(item.user_id) %}
		{{ app.sub.user.link.setUser(item.user_id) }}
		<a class="post-user d-flex align-items-center" href="#" data-username="{{ app.sub.user.link.getName() }}">
			{% autoescape 'html' %}
				{{ app.sub.user.link.getProfilePicture(false)|raw }}
				<div class="username font-weight-bold ml-2">{{ app.sub.user.link.getName()|raw }}</div>
			{% endautoescape %}
		</a>
		{{ app.sub.user.unsetUser() }}
	{% endif %}
{% endfor %}