{% for item in string.sentences|keys %}
    <div class="app-language-phrase setting-group list bg-white text-dark shadow-sm position-relative rounded">
        <div class="nested-items" data-language-id="{{ item }}">
            <div class="mx-2 mt-1">
                <i class="fas fa-language h4 mb-0"></i>
            </div>
            <div class="mx-2 mt-1">
                <i class="far fa-edit h5 mb-0"></i>
            </div>
            {% if string.sentences[item].search %}
                <div class="mx-2">
                    <span data-language="{{ string.sentences[item].language }}" class="fi"></span>
                </div>
            {% endif %}
            <a class="head-title d-flex flex-column justify-content-center mr-auto w-100"
                href="{{ app.phrase.buildLink('adminLanguages', {}) }}?editPhrase/?q={{ string.sentences[item].link }}&defaultNav=sentences">
                <div class="text-break">
                    {% if string.sentences[item].search %}
                        <span class="phrase" data-text="{{ string.sentences[item].phrasePath }}{{ item }}">{{ string.sentences[item].phrasePath }}{{ item }}</span>
                        <div class="text text-dark">{{ string.sentences[item].text }}</div>
                    {% else %}
                        <span class="phrase" data-text="{{ string.phrasePath }}{{ item }}">{{ string.phrasePath }}{{ item }}</span>
                        <div class="text text-dark d-none">{{ string.sentences[item].text }}</div>
                    {% endif %}
                </div>
            </a>
            {% if string.sentences[item].search %}
                {% if not string.sentences[item].path is same as('__null') %}
                    <div class="d-flex align-items-center mx-2">
                        <i class="fas fa-puzzle-piece h5 mb-0 mr-1"></i>
                        <span class="font-weight-bold">{{ string.sentences[item].path }}</span>
                    </div>
                {% endif %}    
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="d-flex justify-content-center align-items-center">{{ app.sub.lang.string.admin.languages.sentences.search.no_results }}</div>
{% endfor %}