{% extends 'container.tpl' %}

{% block app_template_name 'two_step_verification' %}

{% block title %}{{ app.sub.lang.string.container.two_step_verification.title }} - {{ app.settings.site_title }}{% endblock %}

{% block meta_description %}{{ app.settings.meta_description }}{% endblock %}

{% block navbar %}d-none{% endblock %}

{% block content %}
	<div class="modal custom-modal" id="twoStepVerification_Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content shadow-lg rounded">
				<div class="modal-header justify-content-center d-flex">
					<span class="font-weight-bold h5 mb-0 ml-lg-auto mr-lg-auto">İki aşamalı doğrulama</span>
				</div>
				<div class="modal-body">
					<div class="d-flex justify-content-center mb-4">
						<div class="user-image w-50">
							{{ app.sub.user.link.setUser(app.visitor.user_id) }}
							{{ app.sub.user.link.getProfilePicture(false)|raw }}
							{{ app.sub.user.unsetUser() }}
						</div>
					</div>
					<form id="twoStepVerification" method="post">
						<div class="form-group">
							<input name="twofa_code" type="number" class="form-control" placeholder="######" required="required" max="999999">
							<small id="2faHelp" class="form-text font-weight-bold mt-3">{{ app.sub.lang.string.container.two_step_verification.help_text }}</small>
						</div>
						<button type="submit" class="btn btn-app-complete icon no-anim-ui" data-complete-text="{{ app.sub.lang.string.discussion.posts.edit.success }}">{{ app.sub.lang.string.container.buttons.approve }}</button>
						<div class="mt-3 text-center">	
							<a href="#" data-ui="reset-2fa">{{ app.sub.lang.string.container.two_step_verification.reset }}</a>
						</div>
						<div class="form-error mt-4 text-danger text-center">
							<span></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}