<div class="title icon discussions">{{ app.sub.lang.string.container.search.discussions }}</div>
<div class="discussions scrollable">
  {% for item in string.discussions %}
    <a class="d-flex" href="{{ app.phrase.buildLink('discussion', {'discussion_id': item.discussion_id, 'discussion_title': item.title}) }}">
      <span>{{ item.title }}</span>
    </a>
  {% else %}
    <div class="no-result text-dark bg-white text-center pt-1 pb-2">{{ app.sub.lang.string.container.search.no_results }}</div>
  {% endfor %}
</div>
<a class="more-search d-flex font-weight-bold bg-white" href="#">{{ app.sub.lang.parse.Parse('container.search.discussions_containing_word', string.keyword) }}</a>
<div class="title icon users">{{ app.sub.lang.string.container.search.users }}</div>
<div class="users scrollable">
  {% for user in string.users %}
    <div class="d-flex">
      <a class="d-flex align-items-center w-100" href="{{ app.phrase.buildLink('profile', {'username': user.username, 'user_id': user.user_id}) }}">
        {{ app.sub.user.link.setUser(user.user_id) }}
        {% autoescape 'html' %}
          {{ app.sub.user.link.getProfilePicture(false, 'no-tooltip')|raw }}
          <span class="ml-3">{{ app.sub.user.link.getName(false)|raw }}</span>
        {% endautoescape %}
        {{ app.sub.user.link.unsetUser() }}
      </a>
      {% if user.user_id is not same as(app.visitor.user_id) %}
        <a title="{{ app.sub.lang.parse.Parse('container.search.quick_message_text', user.username) }}" class="no-tooltip d-flex align-items-center ml-auto" href="{{ app.phrase.buildLink('messages', {'section': 'new', 'id': user.user_id}) }}">
          <span class="icon message"></span>
        </a>
      {% endif %}
    </div>
  {% else %}
    <div class="no-result text-dark bg-white text-center pt-1 pb-2">{{ app.sub.lang.string.container.search.no_results }}</div>
  {% endfor %}
</div>
<a class="more-search d-flex font-weight-bold bg-white" href="#">{{ app.sub.lang.parse.Parse('container.search.users_containing_word', string.keyword) }}</a>
<div class="advanced-search text-center bg-white d-flex justify-content-center">
  <a class="bg-white text-dark font-weight-bold border-0 p-1" href="#">{{ app.sub.lang.string.container.search.advanced_search }}</a>
</div>